In [9]:
import pandas as pd

Merge the earthquake data and the comcat data.

In [13]:
# Read original source files to generate a clean combined dataset
comcat_df = pd.read_csv(r"D:\project data\MSc_Data_Science_Project\comcat_catalog.csv")
earthquakes_df = pd.read_csv(r"D:\project data\MSc_Data_Science_Project\earthquakes.csv")

# Prepare comcat_cleaned to match earthquakes structure
comcat_cleaned = comcat_df[[
    'longitude', 'latitude', 'depth', 'magnitude', 'time_string'
]].copy()
comcat_cleaned.rename(columns={'time_string': 'time'}, inplace=True)
comcat_cleaned['type'] = 'eq'
comcat_cleaned['magnitude_type'] = 'l'

# Ensure time is properly parsed
comcat_cleaned['time'] = pd.to_datetime(comcat_cleaned['time'], errors='coerce')
earthquakes_df['time'] = pd.to_datetime(earthquakes_df['time'], errors='coerce')

# Combine both datasets
combined_clean_df = pd.concat([earthquakes_df, comcat_cleaned], ignore_index=True)

# Drop rows with missing time values
combined_clean_df.dropna(subset=['time'], inplace=True)

# Save to file
output_path = r"D:\project data\MSc_Data_Science_Project\combined_earthquakes_cleaned.csv"
combined_clean_df.to_csv(output_path, index=False)

combined_clean_df

,longitude,latitude,depth,magnitude,time,type,magnitude_type
0,-116.459000,33.521000,15.80,1.00,2005-01-01 00:06:28.310,eq,l
1,-116.450000,33.500000,15.50,0.70,2005-01-01 00:06:44.850,eq,h
2,-116.836000,34.313000,7.90,1.52,2005-01-01 00:29:35.900,eq,l
4,-116.737000,33.956000,5.80,1.00,2005-01-01 02:59:12.560,eq,h
5,-116.492000,33.501000,11.30,1.68,2005-01-01 04:06:10.990,eq,l
...,...,...,...,...,...,...,...
677522,-122.015000,38.457333,18.50,2.76,2022-12-31 09:02:23.470,eq,l
677523,-124.316667,40.539167,17.70,2.64,2022-12-31 09:18:30.970,eq,l
677524,-116.921833,34.355667,4.73,3.47,2022-12-31 11:41:09.460,eq,l
677525,-116.393333,33.397500,3.88,4.14,2022-12-31 12:12:26.650,eq,l
677526,-124.402333,40.521333,18.87,2.75,2022-12-31 17:57:17.820,eq,l

Check the merged data

In [17]:
# Load the user-provided cleaned file for verification
user_combined_df = pd.read_csv(r"D:\project data\MSc_Data_Science_Project\combined_earthquakes_cleaned.csv")

# Convert 'time' column to datetime to validate correctness
user_combined_df['time'] = pd.to_datetime(user_combined_df['time'], errors='coerce')

# Check for missing time values and report the range
null_time_count = user_combined_df['time'].isnull().sum()
time_span = (user_combined_df['time'].min(), user_combined_df['time'].max())

(null_time_count, time_span)

(0,
 (Timestamp('1932-01-01 23:52:07.870000'),
  Timestamp('2022-12-31 17:57:17.820000')))